*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 80vh;
    background-image: url(./assets/images/movies_banner.jpg);
}

.main .box{
    height: 100%;
    width: 100%;
    opacity: 0.44;
    background-color: black;
}
